.back {
    position:fixed;
    color:rgb(255, 255, 255);
    background-color: rgba(0, 34, 17, 0.849);
    padding: 12px;
    border-radius: 8px;
    margin-top: 25px;
    margin-left: 25px;
    width: 60px;
    text-align: center;
    font-family: 'Righteous', cursive;
}

.htpimg {
    width: 280px;
    height: 350px;
    margin-top: 28%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.btn-grad {background-image: linear-gradient(to right, #c21500 0%, #ffc500  51%, #c21500  100%)}
.btn-grad {
   padding: 20px 45px;
   width: 280px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   border: 0;
   color: white;
   border-radius: 10px;
   display: block;
   font-family: 'Righteous', cursive;
   font-size: 18px;
   text-shadow: 4px 4px rgb(0, 0, 0);
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }